# MySql Database Connectivity in Python

In [2]:
pip install pymysql  #To install pymysql

Requirement already satisfied: pymysql in c:\users\hp\anaconda3\lib\site-packages (1.1.0)Note: you may need to restart the kernel to use updated packages.

In [ ]:
#First way to create Database connectivity

In [26]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine


host = 'localhost'  
port = 3306  
user = 'root'  
password = 'Hello123Sanj' 
database = 'demodb'  


connection = pymysql.connect(
    host=host,
    port=port,
    user=user,
    password=password,
    database=database
)


engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}:{port}/{database}')


query = "SELECT * FROM demotable"


df = pd.read_sql_query(query, connection)


connection.close()


print(df)

  demo_name demo_address
0     anjli         pune

C:\Users\HP\AppData\Local\Temp\ipykernel_15248\362740530.py:28: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

# Mysql database connectivity

In [ ]:
#Second way to create database connectivity in python using mysql

In [13]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [14]:
from sqlalchemy import create_engine

In [37]:
engine = create_engine(f"mysql+pymysql://root:Hello123Sanj@localhost:3306")

In [39]:
connect=engine.connect()

In [43]:
data=pd.read_sql("select * from demodb.demotable",connect)

In [44]:
data

  demo_name demo_address
0     anjli         pune